<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Телецентр</title>
	<meta name="title" content="Телецентр">
	<meta name="description" content="Услуги связи для телерадиокомпаний">
	<link rel="stylesheet" href="css/index.min.css">
</head>

<body>
	<main class="main">
		{% include 'app/html/_header.html' %}
	<div class="main-slider">
		{% include 'app/html/_promo.html' %}
		{% include 'app/html/_higher.html' %}
		{% include 'app/html/_farther.html' %}
		{% include 'app/html/_develop.html' %}
</div>
	</main>
	{% include 'app/html/_footer.html' %}

	<script src="js/main.min.js"></script>
</body>

</html>